@import url("reset.css");

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.app {
    width: 100%;
    height: 100%;
    background-color: #D6E4EF;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 24px;
}

.logo__image{
    width: 247px;
    height: 64px;
}

.login {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.4) 100%);
    box-shadow: 0px 25px 32px -32px #8DB4D3, 0px 52px 48px -32px #A3B7C7;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 16px;
    padding: 24px;
    padding-bottom: 40px;
    align-items: center;
    gap: 20px;
}

.login__wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 32px;
}

.user {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    gap: 34px;
}

.user__cover {
    width: 454px;
    height: 215px;
}

.user__profile {
    width: 104px;
    height: 104px;
    border: 4px solid white;
    border-radius: 50%;
    position: relative;
    bottom: 80px;
    right: 52px;
}

.user__information {
    display: flex;
    height: 20px;
    font-size: 20px;
    width: 600;
}

.user__information p {
    font-size: 20px;
    position: relative;
    bottom: 10px;
    right: 10px;
    font-family: 'Inter';
    font-style: normal;
    
}

.user__name {
    font-weight: 600;
    color: #D90327;
}

.login-form {
    display: flex;
    width: 422px;
    flex-flow: column nowrap;
    gap: 24px;
}

.login__email, .login__password {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

.login__email p, .login__password p {
    text-align: start;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter';
    font-style: normal;
}

.login__email input, .login__password input {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #C6D1DC;
    border-radius: 8px;
    line-height: 22px;
    font-family: 'Inter';
    font-style: normal;
}

.extra {
    display: flex;
    justify-content: space-between;
    height: 16px;
}

.extra label {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    gap: 8px;
}

.extra input {
    display: none;
}

.extra input:checked + .extra__custom--checkbox {
    background-image: url(../img/checkbox.png);
    background-size: contain;
}

.extra__custom--checkbox {
    width: 16px;
    height: 16px;

    border-radius: 3px;
    background-color: #FFFFFF
}

.extra a {
    color: #1F2832;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.login__button {
    background-color: #D90327;
    border: none;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.etc {
    display: flex;
    width: 422px;
    flex-flow: column nowrap;
    gap: 24px;
}

.etc p {
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
}

.etc__button {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.etc__button button {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.etc__button--dark {
    border: none;
    background-color: #2F3D4C;
    color: #FFFFFF;
}

.etc__button--red {
    border: 1px solid #D90327;
    background-color: rgba(255, 255, 255, 0);
    color: #D90327;
}
@media all and (max-width: 760px) {
    .app {
        border-radius: 24px;
        padding: 1px;
        padding-top: 40px;
        padding-bottom: 2px;
        gap: 26px;
    }

    .login {
        width: 426px;
        height: 794px;
        padding: 16px;
        gap: 32px;
        box-shadow: none;
    }

    .user__cover {
        width: 394px;
        height: 215px;
    }

    .user__profile {
        right: 18px;
    }

    .user__information p {
        font-size: 18px;
        font-weight: 700;
        left: 5px;
        bottom: 12px;
    }

    .login-form {
        width: 364px;
    }

    .etc {
        width: 364px;
    }


    .etc__button--dark p{
        display: none;
    }

    .etc__button--dark::after {
        content: "Other user login";
    }
}